<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FallinGlasses - ゲーム画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="titleArea">
        <img src="{{ url_for('static', filename='images/title.png') }}" alt="FallinGlasses Title" id="gameTitleImage">
    </div>
    <div id="gameArea">
        <img src="{{ url_for('static', filename='images/glasses.png') }}" class="glasses" id="glasses">
        <img src="{{ url_for('static', filename='images/character.png') }}" class="character" id="character">
    </div>
    <button id="startButton">リセット</button>
    <p id="result">一致度: --%</p>

    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>
